<div class="modal-header">
	<h3 class="modal-title">Help</h3>
</div>
<div class="modal-body">
	<ol>
		<li><i>Create a Client:</i><br>
			<p>Insert the client name in the first textbox, then click on <button class="btn btn-success btn-xs" type="button"><i class="glyphicon glyphicon-plus"></i></button> or press enter<p>
		</li>
		<li><i>Modify a Client</i><br>
			<p>Double click on the client name, type the new name, then press enter or leave the textbox<p>
		</li>
		<li><i>Delete a Client</i><br>
			<p>Click on the client button <button class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i></button>, then confirm the deletion with a click on the alert box.<br>
			<b>**All the client's project and account will be deleted**</b></p>
		</li>
	</ol>
	<hr>
	<ol>
		<li><i>Add a Client's Project</i><br>
			<p>If it is not already selected, click on the client name, then insert the project name in the second textbox, finally click on <button class="btn btn-success btn-xs" type="button"><i class="glyphicon glyphicon-plus"></i></button> or press enter<p>
		</li>
		<li><i>Modify a Client's Project</i><br>
			<p>Double click on the project name, type the new name, then press enter or leave the textbox<p>		
		</li>
		<li><i>Delete a Client's Project</i><br>
			<p>Click on the client button <button class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i></button>, then confirm the deletion with a click on the alert box.<br>
			<b>**All the client's account will be deleted**</b></p>
		</li>
	</ol>
	<hr>
	<ol>
		<li><i>Add an Account for a Project</i><br>
			<p>If it is not already selected, click on the client name and the project, then insert the account name in the third textbox, finally click on <button class="btn btn-success btn-xs" type="button"><i class="glyphicon glyphicon-plus"></i></button> or press enter<p>
			<p>Once the account is it created appear in the tab under the textbox, select it for insert the detail, then click on <button type="button" class="btn btn-success btn-xs" >Update</button></p>
		</li>
		<li><i>Modify an Account for a Project</i><br>
			<p>Select from the accounts tab the account, change the detail then click on <button type="button" class="btn btn-success btn-xs" >Update</button></p><p>		
		</li>
		<li><i>Delete an Account for a Project</i><br>
			<p>Select from the accounts tab the account, then click on <button type="button" class="btn btn-danger btn-xs" >Delete</button>, then confirm the deletion with a click on the alert box.<br>
		</li>
	</ol>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="close()">Close</button>
</div>